<app-title-bar
  [isFocused]="isFocused"
  [isMaximized]="isMaximized"
  [windowTitle]="windowTitle"
  (onCloseButtonClick)="onCloseButtonClick()"
  (onMaximizeResizeButtonClick)="onMaximizeResizeButtonClick()"
  (onMinimizeButtonClick)="onMinimizeButtonClick()"
>
</app-title-bar>
<div class="contents">
  hello world!
  <h2 translate>counter</h2>
  <app-counter-container></app-counter-container>
  <h2 translate>language</h2>
  <select (change)="changeLanguage($event.target.value)">
    <option
      *ngFor="let lang of supportLanguages"
      [value]="lang.language"
      [selected]="equalLanguage(lang.language)"
    >
      <span>{{ lang.label }}</span>
    </option>
  </select>
</div>
